.container {
	width: 50%;
	margin: 5% 20%;
	background-color: lightgray;
	font-family: 'Barlow', sans-serif;
	border-radius: 5px;
}

.tableOne {
	table-layout: fixed;
	margin-left:  8%;
	margin-right: 50%;
	width: 100%;
	border-spacing: 15px 20px;
}

.formOne {
	padding: 10px;

}

button {
	text-align: center;
	margin-left: 44%;
	margin-right: 25%;
}

tr, td {
	padding: 2px 2px;
}

.insideTable {
	border: 1px solid darkgrey;
	border-radius: 5px;
}

.input {
	border: 0;
	height: 30px;
	width: 200px;
	text-align: center;
}

.fa {
	padding: 3px;
}

button {
	border-radius: 5px;
}

@media only screen and (max-width: 1235px) {
  .container {
    margin: 10% 20%;
  }
  table, tbody, td, tr { 
		display: block; 
	}
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	.input {
		width: 100px;
	}

	.insideTable {
	border: none;
}
	.formOne {
		position: relative;
		right: 120px;
	}

	.insideTable td {
		display: inline-block !important;
	}